
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Playfair+Display:wght@700&display=swap');

$natural500:#2F2E41;
$primary400:#6C63FF;
$Primary300:#9E99FF;
$natural400: #717082;
$natural300:#9893A3;
$natural100:#fff;
$footerColor:#ECEBFF99;
$planBoxColor: #ECEBFF4D;
$learnMore: rgba(197, 194, 255, 0.5);

