@import "../Variables/styleColor.scss";


button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;

    width: 102px;
    height: 51px;
    border: 1px solid $primary400;
    border-radius: 2px;
    padding: 16px, 30px, 16px, 30px; 
    margin-right:16px;
    color: $primary400;
    background: transparent;

}

.getButton{
    background: $primary400;
    color: $natural100;
}