@import "../Variables/styleColor.scss";

footer {
    background:$footerColor;
    height: 600px;
 
}
.foo {
    height: 212.5460662841797px;
    width: 1200px;
    left: 270px;
    display: flex;
    transform: translate(11%,50%);
    margin-left: 30px; 
}

.foo div {
    width: 265px;
    height: 500;
}



footer h4{
   
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}
footer p {
    color: $natural400;
    margin:8px 0px;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.icon {
    cursor: pointer;
    margin-right: 5px;
}
