.app {
  font-family: sans-serif;
  text-align: center;
}

button:nth-child(2){
  cursor: pointer;
  background:rgb(255, 185, 56);
  color: white;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: none;
  margin-left: 20px;
  border-radius: 10%;
}

button:nth-child(2):hover{
  background: orange;
}

button:nth-child(3){
  cursor: pointer;
  background: rgb(3, 197, 3);
  color: white;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: none;
  margin-left: 10px;
  border-radius: 10%;
}
button:nth-child(3):hover{
  background: rgb(0, 172, 0);
}

input{
  padding:8px;
  font-size: 14px;
}