body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-box {
  background: #dba506;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.search {
  background: transparent;
  border: 2px solid #000;
  border-radius: 50px;
  color: #000;
  outline: none;

  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #000;
}
.movie {
  background: #f2db83;
  margin: 1rem;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 7px rgba(219, 165, 6, 0.4);
  overflow: hidden;
  position: relative;
  color: #000;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 0px 10px 7px rgba(219, 165, 6, 0.4);
  color: #dba506;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 102%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background: #000;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}

.project-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.project-box {
  margin-top: 150px;
  width: 700px;
  height: auto;
  margin-right: 20px;
}

.project-box img {
  width: 700px;
  height: auto;
}
.project-box:hover img {
  filter: blur(4px);
}

.project-item {
  position: absolute;
}

.project-btn {
  width: 100px;
  height: 50px;
  padding: 10px;
  background: transparent;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  color: black;
  border-radius: 10px;
  border: 2px solid red;
  transform: translate(295%, -350%);
}

.project-btn:hover {
  background: black;
  color: #fff;
  text-decoration: none;
}

.banner-container {
  border: 2px solid gray;
  border-radius: 10px;
  width: 50%;
  height: 500px;
  /* background: red; */
  transform: translate(50%, 0%);
  box-shadow: 3px 3px 5px rgb(155, 154, 154);
}
.banner {
  display: flex;
  width: 100%;
  height: 500px;
}

.left {
  padding: 10% 5%;
  /* background: red; */
  width: 50%;
}
.left h1,
h6,
p {
  text-align: left;
}

.left h1 {
  font-size: 60px;
}

.right {
  padding: 10px 5px;
  text-align: left;
  width: 50%;
}

.right img {
  border-radius: 10px;
}

.education-container {
  margin-top: 5%;
  width: 50%;

  transform: translate(50%, 0%);
}

.education-container img {
  width: 200px;
  height: auto;
}

.app-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 20%;
  transform: translate(200%, 0%);
  text-align: center;
}

.app-box {
  margin-top: 5px;
  margin-left: 20px;
  width: 150px;
  height: auto;
  background: rgb(238, 238, 238);
  border-radius: 10px;
  border: 2px solid rgb(212, 212, 212);
}

.btu {
  display: flex;
}
.btu h4 {
  margin: 20px;
}

.redberry {
  display: flex;
}
.redberry h4 {
  margin: 20px;
}

.skill {
  display: flex;

  margin: 2%;
  width: 20%;
  transform: translate(200%, 0%);
  text-align: center;
  /* background: red; */
  z-index: 1;
}

.skill img {
  margin-left: 2%;
  width: 64px;
  height: auto;
}
